@model Customer
<div class="container">
	<div class="mb-3">
		<label class="form-label">客戶</label>
		<select asp-for="CustomerId" class="form-control" asp-items="@ViewBag.Customers">
			<option>--請選擇--</option>
		</select>
	</div>
	<div class="mb-3">
		<div id="Orders">

		</div>
	</div>
</div>

@section Scripts
{
	<script>
		function updateOrders(){
			$.ajax({
				type:"GET",
				url:`Customers/Orders/${CustomerId.value}`
			}).done(data=>{
				//alert(data);
				$("#Orders").html(data);
			}).fail(err=>{
				alert(err);
			});
		}
		$("#CustomerId").on("change",function(){
			//alert(`客戶代號:${CustomerId.value}`);
			if(CustomerId.value !="--請選擇--"){
				updateOrders();
			}
			else{
				$("#Orders").html("");
			}
		});
	</script>
}