@* @model CustomersWebsite.ViewModels.ContactViewModel *@
@model ContactViewModel
<form asp-controller="Home" asp-action="Contact">
<div class="container" style="width:40%">
	<div class="mb-3 text-danger" asp-validation-summary="All">
	</div>
	<div class="mb-3">
			<label class="form-label" asp-for="Name">@Html.DisplayNameFor(model=>model.Name)</label>
			<input class="form-control" asp-for="Name"/>
			<span class="text-danger" asp-validation-for="Name"></span>
	</div>
		<div class="mb-3">
			<label class="form-label" asp-for="Email">@Html.DisplayNameFor(model => model.Email)</label>
			<input class="form-control" asp-for="Email" />
			<span class="text-danger" asp-validation-for="Email"></span>
		</div>
		<div class="mb-3">
			<label class="form-label" asp-for="Phone">@Html.DisplayNameFor(model => model.Phone)</label>
			<input class="form-control" asp-for="Phone" />
			<span class="text-danger" asp-validation-for="Phone"></span>
		</div>
	<div class="mb-3"></div>
	<button class="btn btn-primary" type="submit">提交</button>
</div>
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}